.task-action {
    cursor: pointer;
}

.task-completed {
    color: gray;
    text-decoration: line-through;
}

.task-pending {
    font-weight: bold;
    color: tomato;
}

.task-name {
    font-weight: bold;
    color: cadetblue;
}

h1 {
    color: cyan;
}
